### Default project gitignore

## IDE Projectfiles
/.idea/

## Dynamic
/.var/
**.cache

## Library
vendor/
/node_modules/
/tools/

## Env
/.env
/auth.json
/.pm.toml

## Other
/*.DS_Store
/.DS_Store
/*.sql
/TODO.md
/results.md
